/* person name
================================================== */
p.rx_person_name{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 10px;	
	font-weight: bold;
	font-family: inherit;
	font-style: normal;
}
/* person postion
================================================== */
p.rx_person_position{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 12px;
	font-weight: 300;
	font-family: inherit;
	font-style: italic;	
}
p.rx_person_description{	
	font-weight: 300;
	font-family: inherit;
	font-style: normal;
	margin-bottom: 10px;		
}
.rx_hline{
	width: auto;
	height: 1px;
	background-color: #CCCCCC;
	margin-bottom: 10px;
}
/* Social links
================================================== */
ul.rx_team_social{
	margin: 0;
	padding: 0;
	text-align: left;
}
ul.rx_team_social li{
	display: inline-block;
	margin: 0;
	margin-right: 10px;	
}
ul.rx_team_social li a{
	display: block;	
}
ul.rx_team_social li a, ul.rx_team_social li a img{
	text-decoration: none;
	outline: none;
}

.rx_team_space{
	width: auto;
	height: 1px;
	margin-bottom: 36px;
}
.rx_team_space_isotope{
	width: auto;
	height: 1px;
	margin-bottom: 25px;
}



/* START OUR TEAM - ISOTOPE STYLE
================================================== */
.our_team_isotopeMenu{
	display: block;
	text-align: right;
	list-style-type: none;
}
.our_team_isotopeMenu > li{
	display: inline-block;
}
.our_team_isotopeMenu > li > a{	
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 15px;
	padding-top: 2px;		
	line-height: 20px;	
	display: block;		
	outline: none;
	font-weight: 300;		
	font-size: 12px;
	text-transform: uppercase;
	font-style: inherit;		
}
.our_teamisotopeContainer{
	position: relative;
}
.our_team_isotopeItem{
	margin: 6px;
	width: 220px;
	overflow: hidden;
	position: relative;
}
/* END OUR TEAM - ISOTOPE STYLE
================================================== */




/**** Isotope Filtering animation ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** END Isotope Filtering ****/

